{% extends 'core/layouts/base.html' %}
{% load static %}

{% block title %}Adicionar Livro{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% include 'core/components/top_bar.html' %}

<div class="page-content-wrapper">
    <h2 class="section-title">
        {% if editando %}
        EDITAR LIVRO
        {% else %}
        ADICIONAR LIVRO
        {% endif %}
    </h2>

    <div class="add-book-wrapper">
        <div class="add-book-form-side">

            <form class="app-custom-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p><label>Título</label> {{ form.titulo }}</p>
                <p><label>Autor</label> {{ form.autor }}</p>

                <div class="form-row">
                    <p class="half-width"><label>Estado</label> {{ form.estado }}</p>
                </div>

                <div style="display: none;">
                    {{ form.capa }}
                </div>

                <button type="submit" class="btn-blue" style="margin-top: 20px;">Confirmar</button>
            </form>
        </div>

        <div class="add-book-photo-side">
            <div class="book-cover-preview" id="imagePreview">
                {% if form.instance.capa %}
                    <img src="{{ form.instance.capa.url }}" alt="Capa atual do livro">
                {% else %}
                    <span class="placeholder-text">Sem Capa</span>
                {% endif %}
            </div>

            <label for="id_capa" class="btn-blue-action"
                style="cursor: pointer; display: inline-block; text-align: center; width: 100%; box-sizing: border-box;">
                Upload da Capa
            </label>

            <p style="font-size: 12px; color: #666; text-align: center; margin-top: 8px;">
                (Selecione o arquivo e clique em Confirmar)
            </p>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}