{% extends 'core/layouts/base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% include 'core/components/top_bar.html' %}

<div class="page-content-wrapper">

    <div class="user-profile-header">
        <img src="https://i.pravatar.cc/300?img=47" alt="Foto de {{ user.username }}" class="profile-large-avatar">

        <div class="user-profile-info">
            <h2>
                {% if user.first_name %}
                {{ user.first_name|title }} {{ user.last_name|title }}
                {% else %}
                {{ user.username|title }}
                {% endif %}
            </h2>

            <p>{{ user.perfil.cidade|default:"Rio de Janeiro" }}</p>
        </div>
    </div>

    <div class="user-books-section">

        {% include 'core/components/book_slider.html' with section_title="MEUS LIVROS" books_list=meus_livros %}

        <button class="btn-adicionar-livro">
            <div class="logo-container">
                <i class="fa-solid fa-book"></i>

            </div>
            Adicionar livro
        </button>
    </div>

</div>

{% else %}
<script>window.location.href = "{% url 'login' %}";</script>
{% endif %}
{% endblock %}