{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "Troca de Livros" %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="{% static 'core/css/base/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="app-layout">
        
        {% if user.is_authenticated %}
            {% include 'core/layouts/sidebar.html' %}
        {% endif %}

        {% if messages %}
            <div class="toast-container">
                {% for message in messages %}
                    <div class="toast-message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <main class="app-content">
            {% block content %}
            {% endblock %}
        </main>
            
    </div> 
</body>
</html>
