<header class="top-bar">
    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search book, name, author...">
    </div>

    <div class="top-bar-right">
        <button class="lang-toggle">EN 🇬🇧</button>
        <div class="user-info-mini">
            <img src="https://i.pravatar.cc/150?img=47" alt="Avatar" class="avatar-mini">
            <span>
                {{ user.username }}
            </span>
        </div>
        <i class="fa-regular fa-bell bell-icon"></i>
    </div>
</header>