<header class="top-bar">
    <!-- <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search book, name, author...">
    </div> -->

    <form class="search-box" method="get" action="{% url 'home' %}">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
        type="text"
        name="q"
        value="{{ request.GET.q|default:'' }}"
        placeholder="Search book, name, author..."
    >
    </form>

	    <div class="top-bar-right">
	        <button class="lang-toggle">EN 🇬🇧</button>
	        <div class="user-info-mini">
	            <img src="https://i.pravatar.cc/150?img=47" alt="Avatar" class="avatar-mini">
	            <span>
	                {{ user.username }}
	            </span>
	        </div>
	        <div class="notif-wrapper">
	            <button type="button" class="notif-btn" id="notifBtn">
	                <i class="fa-regular fa-bell bell-icon"></i>
	                {% if notificacoes_interesses|length %}
	                    <span class="notif-badge">{{ notificacoes_interesses|length }}</span>
	                {% endif %}
	            </button>
	
	            <div class="notif-dropdown" id="notifDropdown">
	                <h4>Notificações</h4>
	
	                {% for interesse in notificacoes_interesses %}
	                    <div class="notif-item">
	                        <div class="notif-avatar">
	                            {{ interesse.usuario.username|slice:":2"|upper }}
	                        </div>
	
	                        <div class="notif-text">
	                            <strong>{{ interesse.usuario.first_name|default:interesse.usuario.username|title }}</strong>
	                            tem interesse no seu livro <strong>{{ interesse.livro.titulo }}</strong>.
	                            <div class="notif-time">{{ interesse.data|timesince }} atrás</div>
	
	                            <div class="notif-actions">
	                                <form method="post" action="{% url 'aceitar_interesse' interesse.id %}">
	                                    {% csrf_token %}
	                                    <button class="btn-blue-action" type="submit">Accept</button>
	                                </form>
	                                <form method="post" action="{% url 'recusar_interesse' interesse.id %}">
	                                    {% csrf_token %}
	                                    <button class="btn-danger-action" type="submit">Decline</button>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
	                {% empty %}
	                    <div class="notif-empty">Nenhuma notificação</div>
	                {% endfor %}
	            </div>
	        </div>
	    </div>
	</header>
