{% extends 'core/layouts/auth_base.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/auth/auth.css' %}">

{% endblock %}

{% block content %}
<div class="auth-page-wrapper">

    <div class="auth-visual-side">
        <div class="logo-container">
            <i class="fa-solid fa-book"></i>
            <span>Livrô</span>
        </div>
    </div>

    <div class="auth-form-side">
        <div class="top-actions">
            <button class="lang-toggle">EN 🇬🇧</button>
        </div>

        <div class="form-container">
            <div class="form-header">
                <h2>Cadastro</h2>
                <p>Vamos lá, crie uma conta</p>
            </div>

            <form method="post" class="custom-form">
                {% csrf_token %} {{ form.as_p }}

                <button type="submit" class="btn-submit">Cadastrar-se</button>
            </form>

            <p class="login-link">Já tem uma conta? <a href="/login">Entrar</a></p>
        </div>
    </div>

</div>
{% endblock %}